.nav_flex_box1 {
    display: flex;
    justify-content:space-between;
    background: #29445d;
}

.social_header {
    color:aliceblue;
}

.social_header {
    display:flex;
    justify-content:flex-end;
}


.nav_items {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:whitesmoke;
    text-decoration: none;
    display: inline;
    margin-right: 1rem;
    padding-top: 1rem;
}