.background-image{
    background-image: url(/src/image/DSCF11621.jpg);
    background-repeat: no-repeat;
    background-image: 
}


.border-box {
    border: 1px;
    border-radius:2rem;
    border-style: solid;
    border-width: thick;
    border-color:#45767C;
    background-color:#9CBFAC;
    margin: 1rem;
    padding:1rem;
    box-shadow:10rem 5rem 5rem #719D99;
}
